<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Course2_EndProject_YaminGym</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.example.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParticipantServlet</display-name>
    <servlet-name>AddParticipantServlet</servlet-name>
    <servlet-class>com.example.controller.AddParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipantServlet</servlet-name>
    <url-pattern>/AddParticipantServlet</url-pattern>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBatchServlet</display-name>
    <servlet-name>AddBatchServlet</servlet-name>
    <servlet-class>com.example.controller.AddBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchServlet</servlet-name>
    <url-pattern>/AddBatchServlet</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
    <url-pattern>/AddClass</url-pattern>
    <url-pattern>/AddNewClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.example.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
    <url-pattern>/AddUser</url-pattern>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchServlet</display-name>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <url-pattern>/UpdateBatchServlet</url-pattern>
    <url-pattern>/UpdateBatch</url-pattern>
    <url-pattern>/UpdateClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipantServlet</display-name>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <url-pattern>/UpdateParticipantServlet</url-pattern>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
    <url-pattern>/UpdateUser</url-pattern>
    <url-pattern>/UpdateAdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBatchServlet</display-name>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/DeleteBatchServlet</url-pattern>
    <url-pattern>/DeleteBatch</url-pattern>
    <url-pattern>/DeleteClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipantServlet</display-name>
    <servlet-name>DeleteParticipantServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipantServlet</servlet-name>
    <url-pattern>/DeleteParticipantServlet</url-pattern>
    <url-pattern>/DeleteParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
    <url-pattern>/DeleteUser</url-pattern>
    <url-pattern>/DeleteAdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveParticipantServlet</display-name>
    <servlet-name>RetrieveParticipantServlet</servlet-name>
    <servlet-class>com.example.controller.RetrieveParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveParticipantServlet</servlet-name>
    <url-pattern>/RetrieveParticipantServlet</url-pattern>
    <url-pattern>/RetrieveParticipant</url-pattern>
    <url-pattern>/GetParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveBatchServlet</display-name>
    <servlet-name>RetrieveBatchServlet</servlet-name>
    <servlet-class>com.example.controller.RetrieveBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveBatchServlet</servlet-name>
    <url-pattern>/RetrieveBatchServlet</url-pattern>
    <url-pattern>/RetrieveBatch</url-pattern>
    <url-pattern>/RetrieveClass</url-pattern>
    <url-pattern>/GetBatch</url-pattern>
    <url-pattern>/GetClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveUserListServlet</display-name>
    <servlet-name>RetrieveUserListServlet</servlet-name>
    <servlet-class>com.example.controller.RetrieveUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveUserListServlet</servlet-name>
    <url-pattern>/RetrieveUserListServlet</url-pattern>
    <url-pattern>/GetUserList</url-pattern>
    <url-pattern>/RetrieveUserList</url-pattern>
  </servlet-mapping>
</web-app>